
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "dd0335ef3e68416663a2f377e88ca92a3d7718fb"}
         clj-http/clj-http        {:mvn/version "3.12.3"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
